@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menuList {
    display: none;
  }

  .navbar .menuList.show{
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0%;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: left;
    background: var(--dark-bg);
    color: #fff;
    transition: all 0.3s ease;
  }

  .navbar.show .logo {
    display: none;
  }

  .navbar .menuList li {
    margin-top: 45px;
  }

  .navbar .menuList li a {
    color: #fff !important;
    font-size: 23px;
    margin-right: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menuList li a {
    margin-right: 0px;
  }
}

@media(max-width: 800px) {
  .about p {
    width: 30rem;
  }
}

@media(max-width: 555px){
  main .home {
    flex-direction: column;
  }

  .home .home-caption {
    padding-left: 1rem;
  }

  .about p {
    width: 320px;
  }
}

@media(max-width: 400px) {
  .home-caption h1 {
    font-size: 45px;
  }
  
  .home-caption p {
    margin: 1rem 0 2rem 0;
    font-size: 16px;
    font-weight: 500;
  }

}